h1 Edit Ticket

== render 'editform'

=> link_to 'Show', @ticket, class:"back-btn btn btn-secondary text-white"
'|
=< link_to 'All Tickets', tickets_path, class:"back-btn btn btn-secondary text-white"

