/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 


 .seat-column{
 display: inline-block;
 }
 .seat-column input[type="radio"] {

    opacity: 0;
    position: fixed;
    width: 0;
  }
  .seat-column label {
    display: inline-block;
    background-color: white;
    font-size: 12px;
    border: 1px dashed black;
    border-radius: 4px;
    width: 60px;
    height: 30px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.seat-column input[type="radio"]:checked + label {
    background-color:rgb(245, 46, 20);
    border-color: rgb(233, 102, 15);
}
.seat-column input[type="radio"]:focus + label {
    border: 2px solid black;
}
.seat-column label:hover {
    background-color: grey;
  }
.seat-column input[type="radio"]:disabled + label {
    background-color: rgb(241, 161, 161);
    &:hover{
        cursor: not-allowed;
    }
}

.seating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seating_arrangement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business{
    padding-left: 10px;
    text-align: center;
}
.economy{
    text-align: center;
}
.first_class{
    text-align: center;
}
.select-seat-btn{
    cursor: pointer;
}


*,*:before,*:after {
    box-sizing: border-box;
  }
  .plane-body {
    margin: 100px auto;
    margin-top: -100px;
    max-width: 600px;
    display: none;
  }
  
  .fixed{
      position: fixed;
  }

    
      
 .fuselage {
        border-top: 5px solid #d8d8d8;
        border-right: 5px solid #d8d8d8;
        border-left: 5px solid #d8d8d8;
      }

      .mr-30{
        margin-right: 30px;
      }

      .navbar{ 
          font-size: 15px;
          height: 70px;
         flex-direction: row;
         background-color: black !important;
    }
    .navbar-brand{
        margin-bottom: 15px;
    }
    .adjust{
        display: flex;
       
        justify-content: center;
        
    }
    .status{
        color: rgb(129, 125, 125);
        text-align: center;
        line-height: 60px;
    }
    .nav-link-group{
        display: flex;
        justify-content: space-around;
        line-height: 55px;
    }


    li{
        list-style: none;
    }

    .card-user-btn{
        background-color: black;
        opacity: 80%;
        font-size: 30px;
        width: 40%;
        height: 300px;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
        line-height: 300px;
        box-shadow: 10px 10px 20px 4px rgba(0,0,0,0.75);
    }
    a{ text-decoration: none !important;

    }
    a:visited{
        color: #337ab7;
    }
    .navbar{
        box-shadow: 0px 16px 20px -16px rgba(0,0,0,0.75);
    }
    .pagename{
        font-size: 22px !important;
    }
    body{
        background-color: rgb(220, 241, 170);
       
     }
     .nav-link{
         color: grey !important;
     }
     .nav-link:hover{
         color: white !important;
     }
    .back-btn{
        font-size: 15px
    }
    .form-control{
        width: 200px !important;
        display: inline-block !important;
    }
    .date{
        display: inline-block;
    }
    .card{
        display: flex;
        margin: 140px auto;
        padding: 20px;
        width: 40%;
        border-radius: 20px;
        background-image: linear-gradient(rgb(236, 235, 235), rgba(241, 240, 240, 0.418));
        box-shadow: 6px 6px 12px grey;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .card-show{
        display: flex;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 70px auto;
        padding: 20px;
        width: 50%;
        height: 500px;
        border-radius: 20px;
        background-color: lightgrey;
        box-shadow: 6px 6px 12px grey;
      
        
    }
    .admin_buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    table th, table td{
        padding: 10px; /* Apply cell padding */
    }
    .form-new-aeroplane{
        border-top: .2px solid grey;
        width: 100%;
    }
    .board-date{
        flex: 3;
    }
    .searchbuttonsearch{
        flex: 1;
        display: flex;
        align-self: flex-end;
        
        
    }
    .to{
        flex: 3;
    }
    .from{
        flex: 3;

    }
    .login{
        width: 40% !important;
        color: white !important;
    }
    .signup{
        width: 20% !important;
        color: white !important;
    }
    .action{
        display: flex;
    }
    .no-match{
        color: red;
        margin-left: 40%;
    }
    .create_aeroplane_button{
        display: flex;
        justify-content: flex-start;
    }
    .homepage{
        background-color: grey;
    }
    .credentials{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }